<div class="clock-wrapper" ng-controller="clockWidgetController">
    <div class="clock-widget time">{{currentDateTime | date:timeFormat}}</div>
    <div class="clock-widget bar hour" ng-style="{'width': (currentDateTime | toHourPercent)}"></div>
    <div class="clock-widget bar minute" ng-style="{'width': (currentDateTime | toMinutePercent)}"></div>
    <div class="clock-widget bar second" ng-style="{'width': (currentDateTime | toSecondPercent)}"></div>
    <div class="clock-widget date">{{currentDateTime | date:dateFormat}}</div>
</div>