.weather-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .6fr;
    grid-template-rows: .1fr .3fr .5fr .2fr .1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-auto-columns: minmax(120px, auto);
}

.weather-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.weather-widget.city {
    font-weight: bold;
    grid-column: 1 / 3;
    grid-row: 1;
    padding-top: 5px;
}

.weather-widget.condition {
    font-size: 3em;
    grid-column: 1;
    grid-row: 2;
}

.weather-widget.degree {
    font-size: 6em;
    grid-column: 1;
    grid-row: 3;
}

.weather-widget.icon {
    grid-column: 2;
    grid-row: 2 / 4;
}
    .weather-widget.icon i {
        background-repeat: no-repeat;
        width: 100%;
    }

.weather-widget.details {
    font-size: 1.2em;
    grid-column: 1 / 3;
    grid-row: 4;
}
    .weather-widget.details .detail {
        margin: 0 15px;
    }
        .weather-widget.details .detail label {
            font-weight: bold;
        }

        .weather-widget.details .detail div {
            display: block;
        }

.weather-widget.last-update {
    font-size: .8em;
    grid-column: 1 / 3;
    grid-row: 5;
    padding-bottom: 5px;
}